body {
  font-family: Consolas;
  font-size: 13pt;

  background: radial-gradient(ellipse 80% 80% at center, #f3f2ee, #d5d5d0);
}

input.input[type="button"] {
  border-radius: 6pt;
  background-color: #efefef;
}
input.input[type="button"]:hover {
  background-color: #e5e5e5;
}
input.input[type="button"]:active {
  background-color: #efefef;
}
