#Elements {
  text-align: center;
  vertical-align: center;
}
#Elements td {
  width: 38px;
  height: 32px;
}

#code {
  width: 400px;
}

#div1 {
  display: inline-block;
}
#div2 {
  display: inline-block;
}
